#footer
  .container
    ul.list-inline.pull-left
      li Made By
      a(href='https://twitter.com/ricardomacario') @ricardomacario
    ul.list-inline.pull-right
      li
        a(href='#') Terms of Use
      li
        a(href='#') Privacy Policy
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
