extends layout

block content
      h1 Welcome,
      p.lead
        | This is a world cup pool for the 2014 Brazil World Cup!
        br
        | You can play with the pool by clicking the My Quiniela link. If you register you can visit your predictions later!
      div.landing