extends layout

block content
      h1 Bienvenido,
      p.lead
        | Esta es la quiniela mas tecnológica que encontrarás para el mundial Brasil 2014!
        br
        | Puedes ver la quiniela haciendo click en &nbsp;
        a(href="/quiniela") Mi Quiniela.
        | &nbsp; Para mas información lee las &nbsp;
        a(href="/rules") reglas.
      div.landing