extends ./layout
block content
    div(ng-controller="rankingsController")
        table.table.table-bordered.table-hover.table-condensed
            thead
                tr
                    th.col-xs-2 Ranking
                    th.col-xs-5 Email
                    th.col-xs-5 Points
            tbody
                tr(ng-repeat="user in users")
                    td {{$index}}
                    td {{user.email}}
                    td {{user.points}}

        div.row(ng-show="user.admin")
            button.btn.btn-danger(ng-click="calculateGroupPhaseRankings()") Calculate Group Phase Ranking
            button.btn.btn-danger(ng-click="calculateSecondPhaseRankings()") Calculate Second Phase Ranking
