extends layout
block content

    h2 Fase de Grupos
    ul
        li Resultado correcto y Goles correctos (ambos equipos): 5puntos.
        li Resultado correcto y Goles incorrectos: 3 puntos.
        li Resultado incorrecto: 0 puntos.

    h2 Segunda Fase (A partir de Octavos)
    ul
        li País clasificado: 1 punto.
        li País clasificado en posición correcta: 3 puntos.
        li Resultado correcto y Goles correctos (ambos equipos): 5 puntos.
        li Resultado correcto y Goles incorrectos: 3 puntos.
        li Resultado incorrecto: 0 puntos.

    p En la segunda fase, para poder optar por el resultado correcto (con o sin goles), los 2 equipos
      |que se colocaron en la llave en la quiniela, tienen que ser los dos equipos que clasificaron en la
      |  vida real.

    h2 Bonos:
    ul
        li Campeón correcto: 20 puntos.
        li 3er lugar correcto: 10 puntos.

    h2 Premiación:
    p 1er lugar: 70% de lo recaudado.
    p 2do lugar: 20% de lo recaudado.
    p 3er lugar: 10% de lo recaudado.
    p En caso de empate entre dos en el primer lugar se repartirá entre ellos a partes iguales el 90%
      |  del pote, mientras que si llegasen a empatar tres o más en el primer lugar, el pote total (100%)
      |  se repartirá entre ellos a partes iguales.
      |  Si ocurriera un empate entre dos o más sólo en el segundo lugar, se repartirá entre ellos el 30%
      |  del pote. Por último, si se diese un empate entre dos en el tercer lugar, se repartirá entre ellos
      |  el 10% del pote.

    h2 Costo
    p Cada quiniela tiene un costo de Bs. 500. Una persona puede inscribir más de una.

    h2 Pago
    p Enviar un correo a jordivaleri@gmail.com con nombre, teléfono, correo con el cual se registro en la página y un print de pantalla del pago realizado
    p Las instrucciones de pago son las siguientes:
    ul
      li  Jordi Valeri
      li  C.I. 20.228.916
      li  jordivaleri@gmail.com
      li  Banesco: Ahorro 0134-0278-7127-8203-8977
      li  Mercantil: Ahorro 0105-0611-5006-1121-4423
      li Venezolano de Crédito: Corriente 0104-0029-5502-9008-9875

    p La fecha tope de llenar la quiniela y del pago del monto de entrada es el miércoles 11 de junio de 2014. En caso de que no encontremos tu pago el 11, eliminaremos tu quiniela.


    //table.table.table-bordered.table-hover.table-condensed
        thead
            tr
                th.col-xs-2 Tu Quiniela
                th.col-xs-2 Vida Real
                th.col-xs-8 Puntuación
        tbody
            tr
                td Argentina 2 - Chile 0
                td Argentina 2 - Alemania 0
                td Como el partido real fue Argentina contra Alemania y la persona Colocó Argentina contra Chile obtiene 3 puntos debido a que argentina clasificó y se encuentra en la posición correcta. No puede obtar por goles
            tr
                td Argentina 2 - Chile 1
                td Chile 2 - Argentina 3
                td A pesar de que ambos partidos son Argentina contra Chile, no se encuentran en orden correcto por lo que la persona se lleva 1 punto por cada uno debido a que clasificaron. A parte, la persona se lleva 3 puntos debido a que Argentina ganó.
            tr
                td Argentina 0 - Chile 2
                td Argentina 0 - Chile 2
                td Tanto el partido real como el ingresado son iguales (Argentina vs Chile), la persona se lleva 3 puntos por cada país debido a que ambos clasificaron y se encuentran en la posición correcta. A parte, la persona se lleva 5 puntos debido a que el resultado coincide.
            tr
                td Holanda 2 - México 1
                td Irán 2 - Italia 1
                td Los paises ingresados no coinciden con los reales por lo que la persona se lleva 0 puntos.




