extends ../layout
block content
    div(ng-controller="MainCtrl")
        h1 Quiniela

        div.row(ng-repeat="agrupation in groupsLayout")
            div(ng-repeat='group in agrupation')
                .col-sm-4(style="padding-top:{{agrupation.length == 2 ? 15 : 0}}px")
                    h1(style='text-align: center') Grupo {{group}}
                    div(ng-repeat='match in groupsMatches[group].matches', style='display: inline-block; padding: 5px; width: 154px; height: 53px; margin-left: {{ $index%2 * 23 }}px; border-left: {{$index%2}}px solid #cdd0d4; ')
                        input(type='number', style='width:20px; height:21px; position: absolute; margin-left: 5px; margin-top: 2px', ng-model='match[0].score')
                        span(style='display: inline; margin-left: 25px')
                            img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43')
                            | vs
                            img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43')
                        input(type='number', style='width:20px; height:21px; position: absolute; margin-top: 2px', ng-model='match[1].score')
                //Tabla de posiciones
                .col-sm-4(ng-if="agrupation.length ==2 && $index==0", style="height:259px")
                    table.table.table-bordered.table-hover.table-condensed
                        thead
                            tr(style="line-height: 25px;min-height: 25px;height: 25px;")
                                th Grupo
                                th Primero
                                th Segundo
                        tbody
                            tr(ng-repeat="(group, standing) in standing", style="line-height: 25px;min-height: 25px;height: 25px;")
                                td {{group}}
                                td
                                    img(ng-src='/img/country_flags/{{standing[0].country}}.png', width='auto', height='18', ng-show="standing[0].country")
                                    | {{standing[0].country}}
                                td
                                    img(ng-src='/img/country_flags/{{standing[1].country}}.png', width='auto', height='18', ng-show="standing[1].country")
                                    | {{standing[1].country}}

        // SECOND PHASE
        div(style='position: relative; margin-top:20px; height: 560px')
            div(ng-repeat='(title, match) in secondStageMatches.roundOf16', ng-class='($index < 4) ? "roundOf16Left" : "roundOf16Right"', style='top:{{($index < 4) ? 150 * $index : 150*($index - 4)}}px')
                .matchRow
                    input.inputScore(type='text', ng-model='match[0].score', ng-show='match[0].country')
                    img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', ng-show='match[0].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "")', type='radio', ng-checked='true', name='{{title}}', ng-click='victorByPenalties("roundOf16", title, 0)')
                .vsDiv
                    span vs
                .matchRow
                    input.inputScore(type='text', ng-model='match[1].score', ng-show='match[1].country')
                    img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', ng-show='match[1].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "")', type='radio', name='{{title}}', ng-click='victorByPenalties("roundOf16", title, 1)')
            div(ng-repeat='(title, match) in secondStageMatches.quarterFinals', ng-class='($index < 2) ? "quarterFinalsLeft" : "quarterFinalsRight"', style='top:{{($index < 2) ? 50 + $index*300 : 50 + (($index-2) * 300)}}px;')
                .countryContainer(style='float: {{($index < 2) ? "right" : "left"}}')
                    input(type='text', style='width:20px; height:21px;', ng-model='match[0].score', ng-show='match[0].country')
                    img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[0].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "") && match[0].country', type='radio', ng-checked='true', name='{{title}}', ng-click='victorByPenalties("quarterFinals", title, 0)')
                div(style='float: {{($index < 2) ? "right" : "left"}}; clear:both; margin-top:19px') vs
                .countryContainer(style='float: {{($index < 2) ? "right" : "left"}}; clear:both; margin-top:23px')
                    input(type='text', style='width:20px; height:21px;', ng-model='match[1].score', ng-show='match[1].country')
                    img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[1].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "") && match[1].country', type='radio', name='{{title}}', ng-click='victorByPenalties("quarterFinals", title, 1)')
            div(ng-repeat='(title, match) in secondStageMatches.semiFinals', ng-class='($index < 1 ) ? "semiFinalsLeft" : "semiFinalsRight"')
                .countryContainer(style='float: {{($index < 1) ? "right" : "left"}}')
                    input(type='text', style='width:20px; height:21px;', ng-model='match[0].score', ng-show='match[0].country')
                    img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[0].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "") && match[0].country', type='radio', ng-checked='true', name='{{title}}', ng-click='victorByPenalties("semiFinals", title, 0)')
                div(style='float: {{($index < 1) ? "right" : "left"}}; clear:both; margin-top:91px') vs
                .countryContainer(style='float: {{($index < 1) ? "right" : "left"}}; clear:both; margin-top:100px')
                    input(type='text', style='width:20px; height:21px;', ng-model='match[1].score', ng-show='match[1].country')
                    img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[1].country')
                    .radioContainer
                        input(ng-show='(match[0].score == match[1].score) && (match[0].score !== "" && match[1].score !== "") && match[1].country', type='radio', name='{{title}}', ng-click='victorByPenalties("semiFinals", title, 1)')
            div(style='top: 250px; width:450px; height:50px; border:1px solid grey; position:absolute; z-index:1; background-color:white')
                div(ng-show='secondStageMatches.final.ABCDEFGH[0].country')
                    input(type='text', style='width:20px; height:21px; position: absolute; margin-left: 370px; margin-top: 13px', ng-model='secondStageMatches.final.ABCDEFGH[0].score')
                    img(ng-src='/img/country_flags/{{secondStageMatches.final.ABCDEFGH[0].country}}.png', width='50', height='43', style=' margin-left:387px; margin-top:10px')
                    div(style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 12px; display: inline-block')
                        input(ng-show='(secondStageMatches.final.ABCDEFGH[0].score == secondStageMatches.final.ABCDEFGH[1].score) && (secondStageMatches.final.ABCDEFGH[0].score != "" && secondStageMatches.final.ABCDEFGH[1].score != ""  )', type='radio', name='final', ng-click='victorByPenalties("final", "ABCDEFGH", 0)')
            div(style='top: 250px; right:0px; width:450px; height:50px; border:1px solid grey; position:absolute; z-index:1; background-color:white')
                div(ng-show='secondStageMatches.final.ABCDEFGH[1].country')
                    div(style='width:20px; height:21px; position: absolute; margin-left: 2px; margin-top: 12px; display: inline-block')
                        input(ng-show='(secondStageMatches.final.ABCDEFGH[0].score == secondStageMatches.final.ABCDEFGH[1].score) && (secondStageMatches.final.ABCDEFGH[0].score != "" && secondStageMatches.final.ABCDEFGH[1].score != ""  )', type='radio', name='final', ng-click='victorByPenalties("final", "ABCDEFGH", 1)')
                    img(ng-src='/img/country_flags/{{secondStageMatches.final.ABCDEFGH[1].country}}.png', width='50', height='43', style=' margin-left:11px; margin-top:10px')
                    input(type='text', style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 13px', ng-model='secondStageMatches.final.ABCDEFGH[1].score')
        .row(style='text-align: right', ng-show="user")
            button.btn.btn-warning(ng-click="saveMatchSchema()") Guardar


