extends ../layout
block content

    if !user
        .alert.alert-info.animated.fadeIn
            div Debes registrarte y hacer login para poder guadar tu quiniela. De no hacerlo se borrará lo que hagas.

    div(ng-controller="MainCtrl")
        h1 Quiniela

        .row(style='text-align: right', ng-show="user.canSave || user.admin")
            button.btn.btn-warning(ng-click="saveMatchSchema()") Guardar

        div.row(ng-repeat="agrupation in groupsLayout")
            div(ng-repeat='group in agrupation')
                .col-sm-4(style="padding-top:{{agrupation.length == 2 ? 15 : 0}}px")
                    h1(style='text-align: center') Grupo {{group}}
                    div.col-lg-6(ng-repeat='match in groupsMatches[group].matches')
                      div.row(style="text-align:center")
                        div.col-xs-2
                            input(type='number', ng-model='match[0].score', style="width:28px; font-size:11px")
                        div.col-xs-3
                            img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43')
                        div.col-xs-2(style="text-align:center")
                            span(style="margin-left:6px") vs
                        div.col-xs-3
                            img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43')
                        div.col-xs-2
                            input(type='number', ng-model='match[1].score', style="width:28px; font-size:11px")

                //Tabla de posiciones
                .col-sm-4(ng-if="agrupation.length ==2 && $index==0", style="height:259px; z-index:1")
                    table.table.table-bordered.table-hover.table-condensed
                        thead
                            tr(style="line-height: 25px;min-height: 25px;height: 25px;")
                                th.col-xs-2 Grupo
                                th.col-xs-5 Primero
                                th.col-xs-5 Segundo
                        tbody
                            tr(ng-repeat="(group, standing) in standing", style="line-height: 25px;min-height: 25px;height: 25px;")
                                td {{group}}
                                td
                                    img(ng-src='/img/country_flags/{{standing[0].country}}.png', width='auto', height='18', ng-show="standing[0].country")
                                    | {{standing[0].country}}
                                    span.ng-cloak(style="width:100%; height:100%; color:red; font-size:13px",ng-if="!standing[0].country", ma-pop-over, popover-html="Dos o más equipos empatados en todos los criterios, se desempataría por sorteo. Modificar algún resultado.", popover-placement="top") Parate aquí
                                td
                                    img(ng-src='/img/country_flags/{{standing[1].country}}.png', width='auto', height='18', ng-show="standing[1].country")
                                    | {{standing[1].country}}
                                    span.ng-cloak(style="width:100%; height:100%; color:red; font-size:13px",ng-if="!standing[1].country", ma-pop-over, popover-html="Dos o más equipos empatados en todos los criterios, se desempataría por sorteo. Modificar algún resultado.", popover-placement="top") Parate aquí


        // SECOND PHASE
        div.row
            .col-xs-12(style="overflow-y:hidden; overflow-x:scroll; -webkit-overflow-scrolling: touch")
                div(style='position: relative; margin-top:20px; height: 570px; width:1140px;')
                    div(ng-repeat='(title, match) in secondStageMatches.roundOf16', ng-class='($index < 4) ? "roundOf16Left" : "roundOf16Right"', style='top:{{($index < 4) ? 150 * $index : 150*($index - 4)}}px')
                        .matchRow
                            input.inputScore(type='number', ng-model='match[0].score', ng-show='match[0].country')
                            img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', ng-show='match[0].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null)', type='radio', ng-checked='match[0].victorByPenalties', name='{{title}}', ng-click='victorByPenalties("roundOf16", title, 0)')
                        .vsDiv
                            span vs
                        .matchRow
                            input.inputScore(type='number', ng-model='match[1].score', ng-show='match[1].country')
                            img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', ng-show='match[1].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null)', type='radio', name='{{title}}',ng-checked='match[1].victorByPenalties', ng-click='victorByPenalties("roundOf16", title, 1)')
                    div(ng-repeat='(title, match) in secondStageMatches.quarterFinals', ng-class='($index < 2) ? "quarterFinalsLeft" : "quarterFinalsRight"', style='top:{{($index < 2) ? 50 + $index*300 : 50 + (($index-2) * 300)}}px;')
                        .countryContainer(style='float: {{($index < 2) ? "right" : "left"}}')
                            input(type='number', style='width:20px; height:21px;', ng-model='match[0].score', ng-show='match[0].country')
                            img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[0].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null) && match[0].country', type='radio', ng-checked='match[0].victorByPenalties', name='{{title}}', ng-click='victorByPenalties("quarterFinals", title, 0)')
                        div(style='float: {{($index < 2) ? "right" : "left"}}; clear:both; margin-top:19px') vs
                        .countryContainer(style='float: {{($index < 2) ? "right" : "left"}}; clear:both; margin-top:23px')
                            input(type='number', style='width:20px; height:21px;', ng-model='match[1].score', ng-show='match[1].country')
                            img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[1].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null) && match[1].country', type='radio', ng-checked='match[1].victorByPenalties', name='{{title}}', ng-click='victorByPenalties("quarterFinals", title, 1)')
                    div(ng-repeat='(title, match) in secondStageMatches.semiFinals', ng-class='($index < 1 ) ? "semiFinalsLeft" : "semiFinalsRight"')
                        .countryContainer(style='float: {{($index < 1) ? "right" : "left"}}')
                            input(type='number', style='width:20px; height:21px;', ng-model='match[0].score', ng-show='match[0].country')
                            img(ng-src='/img/country_flags/{{match[0].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[0].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null) && match[0].country', type='radio', ng-checked='match[0].victorByPenalties', name='{{title}}', ng-click='victorByPenalties("semiFinals", title, 0)')
                        div(style='float: {{($index < 1) ? "right" : "left"}}; clear:both; margin-top:91px') vs
                        .countryContainer(style='float: {{($index < 1) ? "right" : "left"}}; clear:both; margin-top:100px')
                            input(type='number', style='width:20px; height:21px;', ng-model='match[1].score', ng-show='match[1].country')
                            img(ng-src='/img/country_flags/{{match[1].country}}.png', width='50', height='43', style='display:inline-block; margin-top:6px', ng-show='match[1].country')
                            .radioContainer
                                input(ng-show='(match[0].score == match[1].score) && (match[0].score !== null && match[1].score !== null) && match[1].country', type='radio', ng-checked='match[1].victorByPenalties', name='{{title}}', ng-click='victorByPenalties("semiFinals", title, 1)')
                    div(style='top: 250px; width:450px; height:50px; border:1px solid grey; position:absolute; z-index:1; background-color:white')
                        div(ng-show='secondStageMatches.final.ABCDEFGH[0].country')
                            input(type='number', style='width:20px; height:21px; position: absolute; margin-left: 370px; margin-top: 13px', ng-model='secondStageMatches.final.ABCDEFGH[0].score')
                            img(ng-src='/img/country_flags/{{secondStageMatches.final.ABCDEFGH[0].country}}.png', width='50', height='43', style=' margin-left:387px; margin-top:10px')
                            div(style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 12px; display: inline-block')
                                input(ng-show='(secondStageMatches.final.ABCDEFGH[0].score == secondStageMatches.final.ABCDEFGH[1].score) && (secondStageMatches.final.ABCDEFGH[0].score != null && secondStageMatches.final.ABCDEFGH[1].score != null  )', type='radio',ng-checked="secondStageMatches.final.ABCDEFGH[0].victorByPenalties", name='final', ng-click='victorByPenalties("final", "ABCDEFGH", 0)')
                    div(style='top: 250px; right:0px; width:450px; height:50px; border:1px solid grey; position:absolute; z-index:1; background-color:white')
                        div(ng-show='secondStageMatches.final.ABCDEFGH[1].country')
                            div(style='width:20px; height:21px; position: absolute; margin-left: 2px; margin-top: 12px; display: inline-block')
                                input(ng-show='(secondStageMatches.final.ABCDEFGH[0].score == secondStageMatches.final.ABCDEFGH[1].score) && (secondStageMatches.final.ABCDEFGH[0].score != null && secondStageMatches.final.ABCDEFGH[1].score != null  )', type='radio',ng-checked="secondStageMatches.final.ABCDEFGH[1].victorByPenalties", name='final', ng-click='victorByPenalties("final", "ABCDEFGH", 1)')
                            img(ng-src='/img/country_flags/{{secondStageMatches.final.ABCDEFGH[1].country}}.png', width='50', height='43', style=' margin-left:11px; margin-top:10px')
                            input(type='number', style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 13px', ng-model='secondStageMatches.final.ABCDEFGH[1].score')

                    img(ng-show="champion && !!secondStageMatches.final.ABCDEFGH[0].score && !!secondStageMatches.final.ABCDEFGH[1].score ", ng-src='/img/country_flags/{{champion}}.png', width='50', height='43', style='top:261px; left:546px; position:absolute')


                    //third and fourth game
                    div(style='top: 374px; right:345px; width:450px; text-align:center; position:absolute; z-index:1; background-color:white;')
                        h5 3ero & 4to
                    div(style='top: 400px; right:345px; width:450px; height:50px; border:1px solid grey; position:absolute; z-index:1; background-color:white;')
                        //h4 3rd and 4th
                        div
                            span(style="margin-left:5px", ng-show="secondStageMatches.thirdFourth.ABCDEFGH[0].country")
                                input(type='number', style='width:20px; height:21px;', ng-model='secondStageMatches.thirdFourth.ABCDEFGH[0].score')
                                img(ng-src='/img/country_flags/{{secondStageMatches.thirdFourth.ABCDEFGH[0].country}}.png', width='50', height='43', style='margin-top:11px')
                                div(style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 12px; display: inline-block')
                                    input(ng-show='(secondStageMatches.thirdFourth.ABCDEFGH[0].score == secondStageMatches.thirdFourth.ABCDEFGH[1].score) && (secondStageMatches.thirdFourth.ABCDEFGH[0].score !== null && secondStageMatches.thirdFourth.ABCDEFGH[1].score !== null) && secondStageMatches.thirdFourth.ABCDEFGH[0].country', type='radio',ng-checked="secondStageMatches.thirdFourth.ABCDEFGH[0].victorByPenalties", name='thirdFourth', ng-click='victorByPenalties("thirdFourth", "ABCDEFGH", 0)')
                            span(style="float:right; margin-right:15px", ng-show="secondStageMatches.thirdFourth.ABCDEFGH[1].country")
                                input(type='number', style='width:20px; height:21px;', ng-model='secondStageMatches.thirdFourth.ABCDEFGH[1].score')
                                img(ng-src='/img/country_flags/{{secondStageMatches.thirdFourth.ABCDEFGH[1].country}}.png', width='50', height='43', style='margin-top:11px')
                                div(style='width:20px; height:21px; position: absolute; margin-left: -3px; margin-top: 12px; display: inline-block')
                                    input(ng-show='(secondStageMatches.thirdFourth.ABCDEFGH[0].score == secondStageMatches.thirdFourth.ABCDEFGH[1].score) && (secondStageMatches.thirdFourth.ABCDEFGH[0].score !== null && secondStageMatches.thirdFourth.ABCDEFGH[1].score !== null) && secondStageMatches.thirdFourth.ABCDEFGH[1].country', type='radio',ng-checked="secondStageMatches.thirdFourth.ABCDEFGH[1].victorByPenalties", name='thirdFourth', ng-click='victorByPenalties("thirdFourth", "ABCDEFGH", 1)')

        .row(style='text-align: right', ng-show="user.canSave || user.admin")
            button.btn.btn-warning(ng-click="saveMatchSchema()") Guardar


